Edifecs/HRP_26_1_Upgrade/PRIME_SERVICES_XSD/connector-enrollmentsparse/subscription-sparse.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) by khanumolu (HE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://www.healthedge.com/connector/schema/subscriptionsparse"
		   xmlns:tns="http://www.healthedge.com/connector/schema/subscriptionsparse"
		   xmlns:subsidy="http://www.healthedge.com/connector/schema/subsidy"
		   xmlns:base="http://www.healthedge.com/connector/schema/basetypes"
		   xmlns:enrollment="http://www.healthedge.com/connector/schema/enrollmenttypes"
		   xmlns:payeeBankAccount="http://www.healthedge.com/connector/schema/payeebankaccounts"
		   targetNamespace="http://www.healthedge.com/connector/schema/subscriptionsparse"
		   elementFormDefault="unqualified" version="4.1">

	<xs:import namespace="http://www.healthedge.com/connector/schema/subsidy" schemaLocation="../connector-subsidy/subsidies.xsd"/>
	<xs:import namespace="http://www.healthedge.com/connector/schema/basetypes" schemaLocation="../connector-common-schema/base-types.xsd"/>
	<xs:import namespace="http://www.healthedge.com/connector/schema/enrollmenttypes" schemaLocation="enrollment-types.xsd"/>
	<xs:import namespace="http://www.healthedge.com/connector/schema/payeebankaccounts" schemaLocation="../connector-payeebankaccounts/payeeBankAccounts.xsd"/>

	<xs:element name="subscription" type="SubscriptionType"/>
	<xs:complexType name="SubscriptionType">
		<xs:complexContent>
			<xs:extension base="base:HealthRulesResourceType">
				<xs:group ref="SubscriptionGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="SubscriptionGroup">
		<xs:sequence>
			<xs:element name="maintenanceReasonCode" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Reference to SubscriptionCreateReason, SubscriptionAmendReason, SubscriptionTerminateReason and SubscriptionReinstateReason codeset.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maintenanceComment" type="base:String900Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subscriptionIdentifier" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="payeeHccId" type="base:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						To whom should checks be sent for this
						subscription. Checks are sent to the subscriber
						when member pay for services out of pocket and
						submit receipts. This field is used for cases
						such as an out-of-country subscriber who is
						unable to cash a check. Do not use for
						endangered members where a member should have a
						check sent to a differnt payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hccIdentifier" type="base:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Business identifier for the subscription. Member
						IDs are often generated by adding suffixes to
						this ID.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiptDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Date the subscription application was received.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoWithdrawalEnabled" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Is automatic withdrawal enabled for subscription?
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalEffectiveDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Date the subscriber first became active with the
						health plan. If converting members, this may be
						earlier than the earliest active date in the
						system. This date is not used by the system.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationSignature" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						If true, the enrollment application was signed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Date on which the subscriber signed the
						enrollment application.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPremiumPaidDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Last date on which the premium was paid.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPremiumPaymentDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Last payment date of PremiumPayment
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentHold" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="enrollment:PaymentHoldGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="subscriptionUDTList" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						User-defined terms or custom fields for the
						subscription. The list of available fields is
						configured on the benefit plan.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="listMode" type="base:ListActionType" minOccurs="0" maxOccurs="1"/>
						<xs:element name="subscriptionUDT" type="base:UDTListType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="accountMatchData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="AccountMatchGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="accountReference" type="base:IdentifierType" minOccurs="0" maxOccurs="1"/>
			<!-- START Fields not mapped to Lookup input as of now -->
			<xs:element name="division" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="memberGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- END Fields not mapped to Lookup input as of now -->
			<xs:element name="vipReasonCode" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The reason a subscription is a VIP subscription.
						If this is set, then VIP permissions are
						required for access to the subscription and
						related data such as claims and authorizations.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="informationSourceCode" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Reference to the InformationSource codeset,
						which identifies how the subscription
						application was received (EDI, paper, etc.).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cobraSelectionList" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="listMode" type="base:ListActionType" minOccurs="0" maxOccurs="1"/>
						<xs:element name="cobraSelection" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									From SubscriptionSelections
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="cobraStart" type="xs:date" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Date on which COBRA coverage begins.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="cobraEnd" type="xs:date" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Date on which COBRA coverage ends.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="cobraReceiptDate" type="xs:date" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Date on which the COBRA application
												was received.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="cobraPaidThroughDate" type="xs:date" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Date through which COBRA premiums
												have been paid.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="comment" type="base:String1000Type" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Comment about the COBRA coverage.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="cobraQualifyingEventCode" type="base:CodeEntryInputType"
												minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Reference to the
												CobraQualifyingEvent codeset;
												identifies the reason for putting
												the subscription on COBRA.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="individualPlanSelections" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="individualPlanSelectionListMode" type="base:ListActionType" minOccurs="0" maxOccurs="1"/>
						<xs:element name="individualPlanSelection" type="IndividualPlanSelectionType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									From IndividualPlanSelections; a list of individual plan selections in which
									the subscription has enrolled.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="claimReviewList" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="listMode" type="base:ListActionType" minOccurs="0" maxOccurs="1"/>
						<xs:element name="claimReview" type="enrollment:ClaimReviewType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subsidy" type="subsidy:SubscriptionSubsidyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="applicationInfo" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="enrollment:ApplicationInfoGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="brokerSelections" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="listMode" type="base:ListActionType" minOccurs="0" maxOccurs="1"/>
						<xs:element name="brokerSelection" type="SubscriptionBrokerSelectionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="paymentType" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1" />
			<xs:element name="payeeBankAccount" type="payeeBankAccount:PayeeBankAccountsType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:group>
	<xs:complexType name="SubscriptionBrokerSelectionType">
		<xs:sequence>
			<xs:element name="broker" type="SubscriptionBrokerType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateRanges" type="SubscriptionBrokerDateRangeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriptionBrokerDateRangeType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="brokerAgents" type="SubscriptionBrokerAgentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriptionBrokerType">
		<xs:sequence>
			<xs:element name="brokerIdentifier" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="brokerHccId" type="base:String50Type" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriptionBrokerAgentType">
		<xs:sequence>
			<xs:element name="brokerAgentIdentifier" type="xs:long" minOccurs="0" maxOccurs="1" />
			<xs:element name="brokerAgentHccId" type="base:String50Type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualPlanSelectionType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="endDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="rateLockDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="planYearStartDate" type="PlanYearStartDateType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="benefitPlanReference" type="base:IdentifierType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="benefitPlanMatchData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="BenefitPlanMatchGroup"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="BenefitPlanMatchGroup">
		<xs:sequence>
			<xs:element name="benefitPlanName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="benefitPlanHccId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="benefitPlanOtherIdentifier" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:group ref="BenefitPlanIdentificationGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="asOfDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="PlanYearStartDateType">
		<xs:sequence>
			<xs:element name="monthName" type="base:MonthNameType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dayNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="BenefitPlanIdentificationGroup">
		<xs:sequence>
			<xs:element name="otherID" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="identificationType" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="AccountMatchGroup">
		<xs:sequence>
			<xs:element name="accountHccIdentifier" type="base:AccountHccIDType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The account through which coverage is offered.
						For group business, this will be the
						subscriber's employer. For individuals business,
						this will be an umbrella such as Medicare,
						Medicaid, etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountOtherIdentifier" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:group ref="AccountIdentificationGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="asOfDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="AccountIdentificationGroup">
		<xs:sequence>
			<xs:element name="otherIdentificationNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="identificationType" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
</xs:schema>
