Edifecs/HRP_26_1_Upgrade/PRIME_SERVICES_XSD/connector-enrollment/subscription.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Kumar Hanumolu (HEALTHEDGE SOFTWARE INC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://www.healthedge.com/connector/schema/subscription"
		   xmlns:tns="http://www.healthedge.com/connector/schema/subscription"
		   xmlns:base="http://www.healthedge.com/connector/schema/basetypes"
		   xmlns:payeeBankAccount="http://www.healthedge.com/connector/schema/payeebankaccounts"
		   targetNamespace="http://www.healthedge.com/connector/schema/subscription"
		   elementFormDefault="unqualified"
		   version="4.0">
	<xs:import namespace="http://www.healthedge.com/connector/schema/basetypes" schemaLocation="../connector-common-schema/base-types.xsd"/>
	<xs:import namespace="http://www.healthedge.com/connector/schema/payeebankaccounts" schemaLocation="../connector-payeebankaccounts/payeeBankAccounts.xsd"/>
	<xs:element name="subscription" type="SubscriptionType"/>
	<xs:complexType name="SubscriptionType">
		<xs:complexContent>
			<xs:extension base="base:HealthRulesResourceType">
				<xs:group ref="SubscriptionGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="SubscriptionGroup">
		<xs:sequence>
			<xs:element name="subscriptionIdentifier" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="payeeHccId" type="base:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>To whom should checks be sent for this subscription. Checks are sent to the subscriber when member pay for services out of pocket and submit receipts. This field is used for cases such as an out-of-country subscriber who is unable to cash a check. Do not use for endangered members where a member should have a check sent to a differnt payee.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hccIdentifier" type="base:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Business identifier for the subscription. Member IDs are often generated by adding suffixes to this ID. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiptDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date the subscription application was received. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalEffectiveDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date the subscriber first became active with the health plan. If converting members, this may be earlier than the earliest active date in the system. This date is not used by the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationSignature" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If true, the enrollment application was signed. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date on which the subscriber signed the enrollment application. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastPremiumPaidDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last date on which the premium was paid. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentHold" type="PaymentHoldGroupType" minOccurs="0" maxOccurs="1">
				
			</xs:element>
			<xs:element name="subscriptionUDTList" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User-defined terms or custom fields for the subscription. The list of available fields is configured on the benefit plan.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subscriptionUDT" type="base:UDTListType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="qualityControlReviewConclusions" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="qualityControlReviewConclusion" type="QualityControlReviewConclusionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="accountReference" type="base:AccountReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The account through which coverage is offered. For group business, this will be the subscriber's employer. For individuals business, this will be an umbrella such as Medicare, Medicaid, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vipReasonCode" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The reason a subscription is a VIP subscription. If this is set, then VIP permissions are required for access to the subscription and related data such as claims and authorizations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="informationSourceCode" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to the InformationSource codeset, which identifies how the subscription application was received (EDI, paper, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cobraSelection" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>From SubscriptionSelections</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cobraStart" type="xs:date" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Date on which COBRA coverage begins. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cobraEnd" type="xs:date" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Date on which COBRA coverage ends. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cobraReceiptDate" type="xs:date" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Date on which the COBRA application was received.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cobraPaidThroughDate" type="xs:date" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Date through which COBRA premiums have been paid.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comment" type="base:String1000Type" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Comment about the COBRA coverage.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cobraQualifyingEventCode" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Reference to the CobraQualifyingEvent codeset; identifies the reason for putting the subscription on COBRA. </xs:documentation>
							</xs:annotation>
						</xs:element>
                    </xs:sequence>
				</xs:complexType>
			</xs:element>
            		<xs:element name="payeeBankAccount" type="payeeBankAccount:PayeeBankAccountsType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:group>
	
		<xs:group name="PaymentHoldGroup">
		<xs:sequence>
			<xs:element name="enablePaymentHold" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If true, claims are held and no payments are sent. Note that these claims are not in a workbasket.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestingUser" type="base:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the person who requested the hold. This person is not necessarily a user in the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentHoldReasonDescription" type="base:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Text describing the reason for the hold.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentHoldReasonCode" type="base:CodeEntryInputType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to a PayHoldReason codeset entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="PaymentHoldGroupType">
		<xs:group ref="PaymentHoldGroup" />
	</xs:complexType>
	<xs:complexType name="QualityControlReviewConclusionType">
		<xs:group ref="QualityControlReviewConclusionGroup"/>
	</xs:complexType>
		<xs:group name="QualityControlReviewConclusionGroup">
		<xs:sequence>
			<xs:element name="transactionId" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sendToReview" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userName" type="base:StringIdentifierType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
</xs:schema>
