Edifecs/HRP_26_1_Upgrade/PRIME_SERVICES_XSD/connector-membercomplianceprogram/memberComplianceProgram.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://www.healthedge.com/connector/schema/membercomplianceprogram" 
    xmlns:tns="http://www.healthedge.com/connector/schema/membercomplianceprogram" 
    xmlns:base="http://www.healthedge.com/connector/schema/basetypes" 
    xmlns:minput="http://www.healthedge.com/connector/schema/matchinput"    
    targetNamespace="http://www.healthedge.com/connector/schema/membercomplianceprogram" elementFormDefault="unqualified" version="4.0">
    <xs:import namespace="http://www.healthedge.com/connector/schema/basetypes" schemaLocation="../connector-common-schema/base-types.xsd"/>
    <xs:import namespace="http://www.healthedge.com/connector/schema/matchinput" schemaLocation="../connector-common-schema/match-input.xsd"/>
    
    <xs:element name="memberComplianceProgram" type="MemberComplianceProgramType"/>
    
    <!-- OUTPUT BEGIN -->
    <xs:element name="memberComplianceProgramResponse" type="MemberComplianceProgramResponseType"/>
    
    <xs:complexType name="MemberComplianceProgramResponseType">
        <xs:sequence>
            <xs:element name="memberComplianceProgramInput" type="MembershipComplianceProgramSelectionListType" minOccurs="1" maxOccurs="1" />                        
            <xs:element name="status" type="base:ServiceStatusType" minOccurs="0"/>        
            <xs:element name="transactionInformation" type="base:TransactionInformationType" minOccurs="0"/>
            <xs:element name="errors" type="base:ErrorsType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Exception string in case of system error.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>            
    </xs:complexType>            
    <!-- OUTPUT END -->    
    
    <!-- MemberComplianceProgram Service INPUT BEGIN -->
    <xs:complexType name="MemberComplianceProgramType">
        <xs:complexContent>
            <xs:extension base="base:HealthRulesResourceType">
                <xs:group ref="MembershipComplianceProgramSelectionListGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
        
    <xs:group name="MembershipComplianceProgramSelectionListGroup">
        <xs:sequence>
            <xs:element name="membershipIdentifier" type="xs:long" minOccurs="0" maxOccurs="1"/>
            <xs:element name="memberHccID" type="base:String50Type" minOccurs="0" maxOccurs="1"/>            
            <xs:element name="memberMatchData" type="minput:MemberMatchInputType" minOccurs="0" maxOccurs="1"/>            
			<xs:element name="membershipComplianceProgSelectionsType" type="MembershipComplianceProgSelectionsType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="MembershipComplianceProgramSelectionListType">
        <xs:group ref="MembershipComplianceProgramSelectionListGroup"/>
    </xs:complexType>    
    
    <xs:complexType name="MembershipComplianceProgSelectionsType">
        <xs:group ref="MembershipComplianceProgramSelectionsGroup"/>
    </xs:complexType>          
    <!-- MemberComplianceProgram Service INPUT END -->
        
    <!-- Used by Enrollment Sparse BEGIN -->
	<xs:complexType name="MemberComplianceProgType">
		<xs:complexContent>
			<xs:extension base="base:HealthRulesResourceType">
				<xs:group ref="MembershipComplianceProgramSelectionsGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	    
	<!-- The following blocks are used by the enrollment sparse service and the member compliance program service -->
    <xs:group name="MembershipComplianceProgramSelectionsGroup">
        <xs:sequence>    
            <xs:element name="complianceProgramSelections" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        From MemberSelections; a list of compliance programs the member has selected.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="updateMode" type="UpdateModeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="complianceProgramSelection" type="ComplianceProgramSelectionType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>    
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="ComplianceProgramSelectionType">
        <xs:sequence>
            <xs:element name="complianceProgramDateRanges" type="ComplianceProgramDateRangeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="complianceProgramReference" type="base:ReferenceType" minOccurs="0" maxOccurs="1"/>                        
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ComplianceProgramDateRangeType">
        <xs:sequence>
            <xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="complianceCode" type="ComplianceCode" minOccurs="0" maxOccurs="1"/>            
        </xs:sequence>
    </xs:complexType>    
    <!-- Used by Enrollment Sparse END -->
    
    <xs:simpleType name="ComplianceCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="U"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="UpdateModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERGE" />
            <xs:enumeration value="REPLACE" />
            <xs:enumeration value="DELETE" /> 
        </xs:restriction>
    </xs:simpleType>    

    <!-- ComplianceProgram Lookup Types START -->
    <xs:element name="complianceProgramLookupCriteria" type="ComplianceProgramLookupInputType"/>
    <xs:complexType name="ComplianceProgramLookupInputType">
        <xs:complexContent>
            <xs:extension base="base:HealthRulesResourceType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="complianceProgramLookupListResponse" type="ComplianceProgramReferenceResponseType">
    </xs:element>
    <xs:complexType name="ComplianceProgramReferenceResponseType">
        <xs:complexContent>
            <xs:extension base="base:HealthRulesResourceType">
                <xs:sequence>
		            <xs:element name="complianceProgramReference" type="ComplianceProgramReferenceType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:group ref="base:ErrorStatusGroup"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:group name="ComplianceProgramReferenceGroup">
        <xs:sequence>        
	        <xs:element name="programName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="account" type="base:AccountsReferenceType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="product" type="base:ProductReferenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="ComplianceProgramReferenceType">
        <xs:group ref="ComplianceProgramReferenceGroup"/>
    </xs:complexType>     
    <!-- ComplianceProgram Lookup Types END -->    
        
</xs:schema>
